:root {
    --font-size-h1: 2.4rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.6rem;
    --font-size-h4: 1.2rem;
    --font-size-h5: 1rem;
    --line-height-h1: 2.8rem;
    --line-height-h2: 2.4rem;
    --line-height-h3: 2rem;
    --line-height-h4: 1.6rem;
    --line-height-h5: 1.2rem;
}

h1 {
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1);
}

h2 {
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h2);
}

h3 {
    font-size: var(--font-size-h3);
    line-height: var(--line-height-h3);
}

h4 {
    font-size: var(--font-size-h4);
    line-height: var(--line-height-h4);
}

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 2rem;
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .container {
        max-width: 95%;
    }
}

nav button {
    display: none;
}

@media scree and (max-width: 1024px) {
    nav button {
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--color-white);
        cursor: pointer;
    }

    .nav__menu {
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none;
    }

    .nav__menu li {
        width: 100%;
        height: 5.8em;
        animation: animateNavItems 400ms linear forwards;
        transform-origin: top right;
        opacity: 0;
    }

    .nav__menu li a {
        background: var(--color-primary);
        box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }

    .nav__menu li a:hover {
        background: var(--color-bg2);
        color: var(--color-white);
    }

    nav button#close-menu-btn {
        display: none;
    }

    @keyframes animateNavItems {
        0% {
            transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
        }
        100% {
            transform: rotateZ(0deg) rotateX(0deg) scale(1);
            opacity: 1;
        }
    }
}

.categories {
    background: var(--color-bg1);
    padding: 2rem 0;
}

.categories__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.2rem;
}

.category {
    background-color: var(--color-bg2);
    padding: 2rem;
    border-radius: 1rem;
    transition: var(--transition);
}

.category:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}

.category__icon {
    background-color: var(--color-primary);
    padding: 0.7rem;
    border-radius: 0.9rem;
}

.category h5 {
    margin: 2rem 0 1rem;
}

.category p {
    font-size: 0.9rem;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color--danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: black;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;
    --font-size-h1: 2.4rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.6rem;
    --font-size-h4: 1.2rem;
    --font-size-h5: 1rem;
    --line-height-h1: 2.8rem;
    --line-height-h2: 2.4rem;
    --line-height-h3: 2rem;
    --line-height-h4: 1.6rem;
    --line-height-h5: 1.2rem;
    --transition: all 400ms ease;
}

body {
    font-family: 'Joan', serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
}

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 1rem;
}

section {
    text-align: center;
    margin-bottom: 4rem;
}

h1 {
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1);
}

h2 {
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h2);
}

h3 {
    font-size: var(--font-size-h3);
    line-height: var(--line-height-h3);
}

h4 {
    font-size: var(--font-size-h4);
    line-height: var(--line-height-h4);
}

h5 {
    font-size: var(---font-size-h5);
    line-height: var(--line-height-h5);
}

a {
    color: var(--color-white);
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.btn-primary {
    background: var(--color-danger);
    color: var(--color-white);
}

nav {
    background: transparent;
    width: 100vw;
    height: 5rem;
    top: 0;
    position: fixed;
    z-index: 11;
}

.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

nav button {
    display: none;
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 4rem;
}

nav__menu a {
    font-size: 0.9rem;
    transition: all 400ms ease;
}

.nav__menu a:hover {
    color: var(--color-bg2);
}

.window-scroll {
    background: var(--color-primary);
    box-shadow: black;
}

header {
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
}

.header__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1rem;
    height: 100%;
}

.header__left p {
    margin: 1rem 0 2.4rem;
}

.categories {
    background: var(--color-bg1);
    padding: 2rem 0;
}

.categories__container {
    display: grid;
    grid-template-columns: reapeat(auto-fit, minmax(200px, 1fr));
    gap: 1.2rem;
}